{% extends "main/base.html" %}

{% block title %}
Чемпионат
{% endblock %}

{% block content %}
<style>
        body {
        background: #333;
        color: white;
    }
</style>
    <h1>Чемпионат пилотов</h1>
    <div class="alert alert-warning mt-2 ">
            <h3>1 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/nl.png" title="Нидерланды" alt="Нидерланды"> Max Verstappen</h3>
            <p>208 очков</p>
            <h3>2 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/mc.png" title="Монако" alt="Монако"> Charles Leclerc</h3>
            <p>170 очков</p>
            <h3>3 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/mx.png" title="Мексика" alt="Мексика"> Sergio Perez</h3>
            <p>151 очков</p>
            <h3>4 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/es.png" title="Испания" alt="Испания"> Carlos Sainz</h3>
            <p>133 очков</p>
            <h3>5 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/gb.png" title="Великобритания" alt="Великобритания"> George Russell</h3>
            <p>128 очков</p>
            <h3>6 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/gb.png" title="Великобритания" alt="Великобритания"> Lewis Hamilton</h3>
            <p>109 очков</p>
            <h3>7 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/gb.png" title="Великобритания" alt="Великобритания"> Lando Norris</h3>
            <p>64 очков</p>
            <h3>8 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/fr.png" title="Франция" alt="Франция"> Esteban Ocon</h3>
            <p>52 очков</p>
            <h3>9 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/fi.png" title="Финляндия" alt="Финляндия"> Valtteri Bottas</h3>
            <p>46 очков</p>
            <h2>10 - <img class="_country_flag" src="https://st.championat.com/i/flags/18x12/es.png" title="Испания" alt="Испания"> Fernando Alonso</h2>
            <p>29 очков</p>
    </div>
{% endblock %}