{% extends "main/base.html" %}

{% block title %}
Кубок Конструкторов
{% endblock %}

{% block content %}
<html>
 <head>
  <meta charset="utf-8">
  <style>
   body {
    background: #333;
    color: white;
   }
   .text {
   }
  </style>
 </head>
 <body>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Red Bull <span class="text-muted">Racing Team</span></h2>
        <p class="lead">Занимают первое место в кубке конструкторов с 431 баллом</p>
          <p class="lead">Пилоты команды:</p>
          <h5><img class="_country_flag" src="https://st.championat.com/i/flags/18x12/nl.png" title="Нидерланды" alt="Нидерланды">  Макс Ферстаппен</a></h5>
          <h5><img class="_country_flag" src="https://st.championat.com/i/flags/18x12/mx.png" title="Мексика" alt="Мексика"> Серхио Перез</h5>
      </div>
      <div class="col-md-5">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Ferrari <span class="text-muted">F1 Team</span></h2>
        <p class="lead">Занимают второе место в кубке конструкторов с 334 баллами</p>
          <p class="lead">Пилоты команды:</p>
          <h5><img class="_country_flag" src="https://st.championat.com/i/flags/18x12/mc.png" title="Монако" alt="Монако"> Шарль Леклер</h5>
          <h5><img class="_country_flag" src="https://st.championat.com/i/flags/18x12/es.png" title="Испания" alt="Испания"> Карлос Сайнз</h5>
      </div>
      <div class="col-md-5 order-md-1">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Mercedes <span class="text-muted">Petronas Team</span></h2>
        <p class="lead">Занимают третье место в кубке конструкторов с 304 баллами</p>
          <p class="lead">Пилоты команды:</p>
          <h5><img class="_country_flag" src="https://st.championat.com/i/flags/18x12/gb.png" title="Великобритания" alt="Великобритания"> Льюис Хэммильтон</h5>
          <h5><img class="_country_flag" src="https://st.championat.com/i/flags/18x12/gb.png" title="Великобритания" alt="Великобритания"> Джордж Рассел</h5>
      </div>
      <div class="col-md-5">
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
 </body>
</html>


{% endblock %}