{% extends "main/base.html" %}
{% load static %}

{% block content %}
<style>
   body {
    background: #333;
    color: white;
   }
</style>
<h1>
    <p align="center">Магазин F1</p></h1>
<div class="row">
{% for product in products %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static product.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <h6 class="card-title">{{ product.price }} $</h6>
                <p class="card-text">{{ product.description }}</p>
                <a href="{% url 'test_detail' product.pk %}"
                   class="btn btn-outline-secondary button-wapper">
                    Купить
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}