{% extends "main/base.html" %}
{% load static %}

{% block content %}
<style>
   body {
    background: #333;
    color: white;
   }
</style>
<h1>Магазин F1</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static main.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'test_detail' project.pk %}"
                   class="btn btn-outline-secondary button-wapper">
                    Купить
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}